{% extends 'base.html' %}

{% block content %}
    <div class="flex">
        <div class="w-full p-5">
            <div dir="rtl" class="flex flex-col rounded p-5">
                {% if related_only %}
                    <div class="flex border-y-4 border-dv_red bg-dv_white gap-2 text-primary p-5 text-lg font-faruma rounded"
                         dir="rtl">
                        <div class="bg-dv_red text-dv_white px-5 align-middle justify-center flex rounded items-center">
                            {{ word }}
                        </div>
                        <div class="">
                            މިބަހުގެ ސީދާ މާނަ ރަދީފުގައި ނެތުމުން،ތިރީގައި މި ހިމަނާލަނީ މި ބަސް މާނައިގައި އެކުލެވޭ
                            އެހެން
                            ބަސްތައް
                        </div>
                    </div>
                {% endif %}

                {% include 'home/related_words.html' %}
                {% include 'home/search_form.html' %}
            </div>
        </div>
    </div>
{% endblock %}