<form action="{% url 'search_english' %}" method="get">
    {% csrf_token %}
    <input type="text" name="word"
           dir="rtl"
           autocomplete="off"
           class="w-full border-2 border-dv_red p-3 rounded-lg focus:outline-none focus:border-dv_green thaana-keyboard bg-primary text-dv_white"
           placeholder="ބަހުގެ ނަން ޖަހާލާ. . . މިސާލަކަށް: ދިވެހިރާއްޖެ">
    <button type="submit"
            class="w-full bg-dv_white text-primary font-faruma text-2xl p-3 rounded-lg mt-3 border-dv_white border-2">
        ހޯދާ
    </button>
    <div onclick="window.location.href = '{% url 'about' %}'"
            class="decoration-dv_red/50 underline text-dv_white text-center mt-3 font-faruma text-xl my-10 cursor-pointer">
        އަނެއްކާވެސް އެހެން ރަދީފެއްތަ؟
    </div>
</form>