<div class="flex">
    <div class="w-full p-5">
        <div dir="rtl" class="flex flex-col border-2 border-black rounded p-5 bg-black/5 overflow-y-scroll">
            {% if words %}
                {% for word in words %}
                    <h1 class="text-5xl font-bold mb-2">{{ word }}</h1>
                    {% for meaning in word.meanings.all %}
                        <p class="leading-loose meanings flex gap-2 flex-wrap">{{ meaning }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div dir="rtl" class="flex flex-col py-10">
                <div>
                    <h2 class="text-3xl font-bold mb-2">ބަސްބޭނުން ކުރެވިފައިވާ މަސްދަރުތައް</h2>
                    <div class="flex flex-col">
                        <ol>
                            {% for result in search_result %}
                                <li class="mx-5 list-decimal">
                                    <a href="{{ result.url }}"
                                       class="text-black underline p-2"
                                    >
                                        {{ result.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

            <p class="text-gray-500 my-10 text-center text-2xl">ނުވަތަ</p>
            <h1 class="text-2xl font-bold mb-2 text-center" dir="rtl">އެހެން ބަހެއް ހޯދާލާ</h1>


            <form action="{% url 'search_english' %}" method="post">
                {% csrf_token %}
                <input type="text" name="word"
                       dir="rtl"
                       autocomplete="off"
                       class="w-full border-2 border-gray-300 p-3 rounded-lg focus:outline-none focus:border-blue-500 thaana-keyboard"
                       placeholder="ބަހުގެ ނަން ޖަހާލާ. . . މިސާލަކަށް: ދިވެހިރާއްޖެ">
                <button type="submit"
                        class="w-full bg-blue-600 text-white p-3 rounded-lg mt-3">
                    ހޯދާ
                </button>
            </form>
        </div>
    </div>

