<footer class="flex flex-col mx-auto bg-secondary items-center  py-10">
    <div class="text-2xl font-semibold uppercase  text-black/80">
        ABOUT THIS SITE
    </div>
    <p class=" text-black/70 p-5 max-w-5xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda, delectus, distinctio dolor
        dolore, dolorum eligendi fugiat impedit ipsa iure perferendis repellendus sunt voluptas. Alias dignissimos error
        ipsa minima nesciunt!
    </p>
    <p class=" text-black/30">
        ©{% now "Y" %} Example. All rights reserved.
    </p>
</footer>
