/* Fonts.css */


@font-face {
    font-family: "faruma";
    src: url("AK Rasmee.ttf");
}

@font-face {
    font-family: "kathi";
    src: url("DAM_Kathivalhi.otf");
}

/*@font-face {*/
/*    font-family: "faruma";*/
/*    src: url("Faruma.otf");*/
/*}*/

@font-face {
    font-family: "sangu";
    src: url("AK Liyan Bold.ttf");
}


