{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="max-w-screen-sm flex flex-col gap-10 mx-auto text-right p-5 text-dv_white/70">
        <h1 class="text-3xl leading-loose text-dv_white">
            {{ heading }}
        </h1>
        <p class="text-2xl font-faruma leading-loose">
            {{ about }}
        </p>
        <a class="text-2xl underline font-faruma leading-loose text-primary bg-dv_white p-2 rounded-md text-center"
           href="https://github.com/fauzaanu/feedar/">
            ޕްރޮޖެކްޓުގެ ކޯޑު ބަލާލަން ފިތާލާ
        </a>

        <h2 class="text-3xl leading-loose text-dv_white">
            {{ sub_heading }}
        </h2>
        {% for tent in content %}
            <p class="text-2xl font-faruma leading-loose">
                {{ tent }}
            </p>
        {% endfor %}

        <div>
            <h3 class="text-3xl leading-loose text-dv_white">
                ބައެއް ބަސް ނުފެންނަ މައްސަލަ އަށް ގެނެވުނު ހައްލު
            </h3>
            <img src="{% static 'about/img/radheef_mv.png' %}" alt="">
            <img src="{% static 'about/img/radheefu_com.png' %}" alt="">
        </div>

        <p class="text-2xl font-faruma leading-loose">
            ޕްރޮޖެކްޓްގެ ރޭވުން ކުރިޔަށްދަނީ ޓްރެލޯގައި، ކޮންމެ ފަރާތަކަށްވެސް ޓްރެލޯ އެކައުންޓެއް ހަދާލުމަށް ފަހު
            ހިޔާލެއް ހުށައަޅާލުމުގެ ފުރުސަތު އެބައޮތް
        </p>


        <a class="text-2xl underline font-faruma leading-loose text-primary bg-dv_white p-2 rounded-md text-center"
           href="https://trello.com/b/iIeOs87c/radheefu-project">
            ޓްރެލޯބޯޑުގެ ލިންކު
        </a>
    </div>
{% endblock %}
