{% extends 'base.html' %}

{% block content %}
    <div class="max-w-screen-sm flex flex-col gap-10 mx-auto text-right p-5 text-dv_white">
        <h1 class="text-3xl leading-loose text-dv_green">
            މަޢުލޫމާތުން މުއްސަނދި ދިވެހި ބަހުގެ ރަދީފެއް އުފެއްދުމުގެ ބޭނުމުގައި ހެދެމުންދާ ސައިޓެއް
        </h1>
        <p class="text-2xl font-faruma leading-loose">
            މި ޕްރޮޖެކްޓަކީ އޯޕަންސޯސް ޕްރޮޖެކްޓެއްގެ ގޮތުގައި ކޮންމެ ފަރާތަކަށްވެސް ނަކަލުކޮށް އުނި އިތުރު ގެނެސް
            ބަދަލުތައް ހުށައަޅާ އަމިއްލަ ރަދީފެއްގެ ގޮތުގައިވެސް ގެންގުޅުމެގެ ފުރިހަމަ ހުއްދަ އޮންނަގޮތައް ހެދެމުންދާ
            ޕްރޮޖެކްޓެއް
        </p>
        <a class="text-2xl underline font-faruma leading-loose text-dv_green"
           href="https://github.com/fauzaanu/feedar/">
            ޕްރޮޖެކްޓުގެ ކޯޑު ބަލާލަން ފިތާލާ
        </a>

        <p class="text-2xl font-faruma leading-loose">
            ޕްރޮޖެކްޓް ފެށުނު ތާރީޙަކީ 2024 ވަނަ އަހަރުގެ މާދަރީބަހުގެ ދުވަހާ ދެން ޖެހިގެން އޮތް ދުވަހު
        </p>
        <h2 class="text-3xl leading-loose text-dv_green">
            އެހެން ރަދީފުތަކުގައި ނެތް، މިޕްރޮޖެކްޓުގައި ހިމެނޭ ބައެއް ކަންކަން
        </h2>
        <p class="text-2xl font-faruma leading-loose">
            ބަހުގެ މާނަ އަންނައިރު މާނައިގައި ހިމެނޭ ކޮންމެ ލަފުޒަކަށް ފިތާލީމަ އެބަހުގެ މާނަ އަށް ވަގުތުން ދާގޮތައް
            އޮތުން
        </p>
        <p class="text-2xl font-faruma leading-loose">
            ރަދީފުގައި މާނަ ނެތް ކަމަށް ވާނަމަ އެހެން ބަސްބަހުގެ މާނައިގައި އެބަސް ހިމެނޭ ބަސްބަސް އަނބުރާ ފެންނާނެ
        </p>
        <p class="text-2xl font-faruma leading-loose">
            މޮޒިއްލާ ކޮމަން ވޮއިސްގެ އެހީގައި ބަސް ކިޔާނެ ގޮތުގެ އަޑު ހިމެނިފައި ވާނެ
        </p>
        <p class="text-2xl font-faruma leading-loose">
            ބަސް އިންޓަނެޓުގައި ލިޔެވިފައިވާ އެކި ލިޔުންތަކުގައި ބޭނުން ކުރެވިފައިވާ މިސާލުތައް ހޯދާ އެމިސާލުތައް
            ހިމާނާލެވިފައިވާނެ
        </p>
        <p class="text-2xl font-faruma leading-loose">
            ކުރިޔަށް އޮތްތަނުގައި ލޮގިންވެލައިގެން ބަސް ހުށައެޅޭނެ ނިޒާމެއް އުފެއްދުމަކީ އަމާޒެއް މި ނިޒާމުގެ ދަށުން،
            ބަސް، ބަހުގެ މާނަ، ބަހުގެ ބަހާ، އަދި އިނގިރޭސި މާނަ، މިސާލުތައް، އެކި ބަހުރުވަ ތަކުން ބަސް ކިޔާނެގޮތް
            ހިމަނާލަން ގަސްތުކުރަން
        </p>
        <p class="text-2xl font-faruma leading-loose">
            ޕްރޮޖެކްޓް ކުރިއެރުވުމަށް ހިޔާލެއް ދެއްވަން ބޭނުން ނަމަ ޓްރެލޯ ބޯޑަށް ކޮމެންޓެއް ކޮށްލަދިނުން އެދެން.
        </p>

        <a class="text-2xl underline font-faruma leading-loose text-dv_green"
           href="https://trello.com/b/iIeOs87c/radheefu-project">
            ޓްރެލޯބޯޑުގެ ލިންކު
        </a>
    </div>
{% endblock %}
